# NARM+

In [2]:
#Importing functions.
import pandas
import csv
from collections import defaultdict
from collections import namedtuple
import itertools
import math
import numpy as np
import pandas
import random
from sklearn.metrics import explained_variance_score
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
import time
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim

In [14]:
#Don't Run this cell if you don't want to read the entire database.
readDF = pandas.read_csv('./data/UserBehavior.csv', names=['USERID', 'PRODUCTID', 'CATEGORYID', 'ACTION', 'TIMESTAMP'])
group = readDF.groupby("USERID")
sorted(readDF.USERID.unique())[0:100]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 53,
 54,
 55,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108]

In [15]:
#Don't rn This cell if you haven't read the entire database.
smallTaoBao = readDF.loc[(readDF['USERID'] >= 1) & (readDF['USERID'] <= 108)]
smallTaoBao.to_pickle("./data/smallTaoBao.pkl")
unpickled_smallTaoBao = pandas.read_pickle("./data/smallTaoBao.pkl")
unpickled_smallTaoBao

In [4]:
# Create sessions
unpickled_smallTaoBao = pandas.read_pickle("./data/smallTaoBao.pkl")
unpickled_smallTaoBao
unpickled_smallTaoBao['SESSION'] = pandas.to_datetime(unpickled_smallTaoBao['TIMESTAMP'],unit='s').dt.date
unpickled_smallTaoBao.head()

   USERID  PRODUCTID  CATEGORYID ACTION   TIMESTAMP     SESSION
0       1    2268318     2520377     pv  1511544070  2017-11-24
1       1    2333346     2520771     pv  1511561733  2017-11-24
2       1    2576651      149192     pv  1511572885  2017-11-25
3       1    3830808     4181361     pv  1511593493  2017-11-25
4       1    4365585     2520377     pv  1511596146  2017-11-25

In [5]:
print("Average number of sessions per user")
unpickled_smallTaoBao.groupby('USERID')['SESSION'].nunique().mean()

Average number of sessions per user

7.2

In [7]:
print("Average number of clicks per session")
unpickled_smallTaoBao.groupby(['USERID', 'SESSION'])['ACTION'].count().mean()

Average number of clicks per session

14.126388888888888

In [17]:
user1 = unpickled_smallTaoBao.loc[unpickled_smallTaoBao['USERID'] == 1]
user1

    USERID  PRODUCTID  CATEGORYID ACTION   TIMESTAMP     SESSION
0        1    2268318     2520377     pv  1511544070  2017-11-24
1        1    2333346     2520771     pv  1511561733  2017-11-24
2        1    2576651      149192     pv  1511572885  2017-11-25
3        1    3830808     4181361     pv  1511593493  2017-11-25
4        1    4365585     2520377     pv  1511596146  2017-11-25
5        1    4606018     2735466     pv  1511616481  2017-11-25
6        1     230380      411153     pv  1511644942  2017-11-25
7        1    3827899     2920476     pv  1511713473  2017-11-26
8        1    3745169     2891509     pv  1511725471  2017-11-26
9        1    1531036     2920476     pv  1511733732  2017-11-26
10       1    2266567     4145813     pv  1511741471  2017-11-27
11       1    2951368     1080785     pv  1511750828  2017-11-27
12       1    3108797     2355072     pv  1511758881  2017-11-27
13       1    1338525      149192     pv  1511773214  2017-11-27
14       1    2286574     2465336     pv  1511797167  2017-11-27
15       1    5002615     2520377     pv  1511839385  2017-11-28
16       1    2734026     4145813     pv  1511842184  2017-11-28
17       1    5002615     2520377     pv  1511844273  2017-11-28
18       1    3239041     2355072     pv  1511855664  2017-11-28
19       1    4615417     4145813     pv  1511870864  2017-11-28
20       1    4152983     2355072     pv  1511871096  2017-11-28
21       1     266784     2520771     pv  1511884553  2017-11-28
22       1      46259      149192     pv  1511892772  2017-11-28
23       1     266784     2520771     pv  1511909676  2017-11-28
24       1    4092065     2355072     pv  1511910242  2017-11-28
25       1    1305059     2520771     pv  1511911930  2017-11-28
26       1    2791761     2355072     pv  1511914689  2017-11-29
27       1    3239041     2355072     pv  1511939239  2017-11-29
28       1      46259      149192     pv  1511940971  2017-11-29
29       1    4973305     2520771     pv  1511969365  2017-11-29
30       1    2087357     2131531     pv  1511975142  2017-11-29
31       1    3157558     2520771     pv  1511984943  2017-11-29
32       1    2087357     2131531     pv  1512004568  2017-11-30
33       1    4170517      149192     pv  1512011019  2017-11-30
34       1    1340922     4690421     pv  1512041260  2017-11-30
35       1    3911125      982926     pv  1512044958  2017-11-30
36       1    4170517      149192     pv  1512049438  2017-11-30
37       1    3682069     4690421     pv  1512059832  2017-11-30
38       1    4954999      411153     pv  1512061318  2017-11-30
39       1      79715     2355072     pv  1512064350  2017-11-30
40       1    4666650     4756105     pv  1512084223  2017-11-30
41       1    1323189     3524510     pv  1512149435  2017-12-01
42       1    4198227     1320293     pv  1512149929  2017-12-01
43       1    4954999      411153     pv  1512172732  2017-12-01
44       1    2041056     4801426     pv  1512187543  2017-12-02
45       1    3219016     3002561     pv  1512190033  2017-12-02
46       1    2104483     4756105     pv  1512194830  2017-12-02
47       1    2028434     4801426     pv  1512224248  2017-12-02
48       1    3219016     3002561     pv  1512244023  2017-12-02
49       1    2278603     3002561     pv  1512251522  2017-12-02
50       1     929177     4801426     pv  1512252443  2017-12-02
51       1    4954999      411153     pv  1512264993  2017-12-03
52       1     818610      411153     pv  1512268502  2017-12-03
53       1     271696      411153     pv  1512272591  2017-12-03
54       1     568695     1320293     pv  1512281847  2017-12-03

In [41]:
IDs = list(unpickled_smallTaoBao.USERID.unique())
sessions = sorted(list(unpickled_smallTaoBao.SESSION.unique()))
userBase = defaultdict(list)

for ID in IDs:
    userData = unpickled_smallTaoBao.loc[unpickled_smallTaoBao['USERID'] == ID]
    
    #Verschil tussen historical data and current session.
    
    for session in sessions:
        userSession = userData.loc[userData['SESSION'] == session]
        userData_PRODUCTLIST = userSession['PRODUCTID'].values.tolist()
        
        if len(userData_PRODUCTLIST) > 0:
            userBase[ID].append(userData_PRODUCTLIST)
    
    

print(userBase[1])

[[2268318, 2333346], [2576651, 3830808, 4365585, 4606018, 230380], [3827899, 3745169, 1531036], [2266567, 2951368, 3108797, 1338525, 2286574], [5002615, 2734026, 5002615, 3239041, 4615417, 4152983, 266784, 46259, 266784, 4092065, 1305059], [2791761, 3239041, 46259, 4973305, 2087357, 3157558], [2087357, 4170517, 1340922, 3911125, 4170517, 3682069, 4954999, 79715, 4666650], [1323189, 4198227, 4954999], [2041056, 3219016, 2104483, 2028434, 3219016, 2278603, 929177], [4954999, 818610, 271696, 568695]]

In [46]:
# DON'T RUN THIS YET, NEEDS REWORKING

# Create dataset of examples

# A simple way to define a class is using namedtuple.
Example = namedtuple("Example", ["userID", "history", "inputs", "target"])

def createExamples(userBase, IDs):
    # convert raw data into examples and create dataset
    
    #TODO: create train and testdata
    #Example = userID, history, inputs, targets?
    
    trainData = []
    testData = []
    
    for ID in IDs:
        userData = userBase[ID]
        historyTrain = userData[:-2]
        inputsTrain = userData[len(userData) -2]
        trainData.append(Example(userID = ID, history = historyTrain, inputs=inputsTrain[:-1],target=inputsTrain[1:]))
        
        historyTest = userData[:-1]
        inputsTest = userData[len(userData) - 1]
        testData.append(Example(userID = ID, history = historyTest, inputs=inputsTest[:-1], target=inputsTest[1:]))
        
    return trainData, testData

trainData, testData = createExamples(userBase, IDs)
print(trainData[0])
print(testData[0])

Example(userID=1, history=[[2268318, 2333346], [2576651, 3830808, 4365585, 4606018, 230380], [3827899, 3745169, 1531036], [2266567, 2951368, 3108797, 1338525, 2286574], [5002615, 2734026, 5002615, 3239041, 4615417, 4152983, 266784, 46259, 266784, 4092065, 1305059], [2791761, 3239041, 46259, 4973305, 2087357, 3157558], [2087357, 4170517, 1340922, 3911125, 4170517, 3682069, 4954999, 79715, 4666650], [1323189, 4198227, 4954999]], inputs=[2041056, 3219016, 2104483, 2028434, 3219016, 2278603], target=[3219016, 2104483, 2028434, 3219016, 2278603, 929177])
Example(userID=1, history=[[2268318, 2333346], [2576651, 3830808, 4365585, 4606018, 230380], [3827899, 3745169, 1531036], [2266567, 2951368, 3108797, 1338525, 2286574], [5002615, 2734026, 5002615, 3239041, 4615417, 4152983, 266784, 46259, 266784, 4092065, 1305059], [2791761, 3239041, 46259, 4973305, 2087357, 3157558], [2087357, 4170517, 1340922, 3911125, 4170517, 3682069, 4954999, 79715, 4666650], [1323189, 4198227, 4954999], [2041056, 3219016, 2104483, 2028434, 3219016, 2278603, 929177]], inputs=[4954999, 818610, 271696], target=[818610, 271696, 568695])

In [ ]:
# HELPER FUNCTIONS

# function to yield one example at a time
def get_examples(data, shuffle=True, **kwargs):
    """Shuffle data set and return 1 example at a time (until nothing left)"""
    if shuffle:
#         print("Shuffling training data")
        random.shuffle(data)  # shuffle training data each epoch
    for example in data:
        yield example
    
# function to prepare an example for usage by the model
def prepare_example(example):
    """
    Turn an example into tensors of inputs and target.
    """
    v = torch.FloatTensor([example.userID])
    v = v.to(device)
    
    w = torch.FloatTensor([example.history])
    w = w.to(device)
    
    x = torch.FloatTensor([example.inputs])
    x = x.to(device)

    y = torch.FloatTensor([example.target])
    y = y.to(device)

    return v, w, x, y

# function to yield a (mini-)batch
def get_minibatch(data, batch_size=25, shuffle=True):
    """Return minibatches, optional shuffling""" 
    if shuffle:
#         print("Shuffling training data")
        random.shuffle(data)  # shuffle training data each epoch

    batch = []

    # yield minibatches
    for example in data:
        batch.append(example)

        if len(batch) == batch_size:
            yield batch
            batch = []    
        # in case there is something left
        if len(batch) > 0:
            yield batch

# function to make the (mini-)batch ready for usage by the model
def prepare_minibatch(mb):
    """
    Minibatch is a list of examples.
    This function converts returns
    torch tensors to be used as input/targets.
    """
    batch_size = len(mb)
    x = [ex.inputs for ex in mb]
    x = torch.FloatTensor(x)
    x = x.to(device)

    y = [ex.target for ex in mb]
    y = torch.FloatTensor(y)
    y = y.to(device)

    return x, y

# simple evaluation function
def simple_evaluate(model, data, prep_fn=prepare_example, **kwargs):
    """Explained Variance Score of a model on given data set."""
    model.eval()  # disable dropout (explained later)
    targets = []
    predictions = []

    for example in data:

        # convert the example input and label to PyTorch tensors
        targets.append(example.target)
        x, target = prepare_example(example)

        # forward pass
        # get the output from the neural network for input x
        with torch.no_grad():
            output = model(x)
        # output shape: (batch, output_size)
        prediction = output[0].tolist()
        predictions.append(prediction)
            
    score = explained_variance_score(targets, predictions, multioutput='variance_weighted')

    return score, None

In [ ]:
# Custom NN

class NarmPlus(nn.Module):
    def __init__(self, input_dim, embedding_dim, hidden_size, output_dim, num_layers, activation_fn=nn.RReLU(),
                num_items):
        super(NarmPlus, self).__init__()
        self.input_dim = input_dim
        self.embedding_dim = embedding_dim
        self.hidden_size = hidden_size
        self.output_dim = output_dim
        self.num_layers = num_layers
        self.hidden_state_dim = 0 # calculation needed
        self.ItemEmbedding = nn.Embedding(num_items, embedding_dim)
        self.ActivationFn = activation_fn
        self.UserProfile = nn.Linear(embedding_dim, self.hidden_state_dim)
        self.Local = nn.GRU()
        self.Global = nn.GRU()
        self.Softmax = nn.Softmax()
        self.Decoder = nn.Bilinear(embedding_dim, , output_dim
        
    def forward(self,x):
        history, current = x
        embeds_h = self.ItemEmbedding(history)
        profile = self.UserProfile(embeds_h)
        
        
        c = torch.cat(c_global, c_local, dim=2)
        out = self.Decoder()
        output = self.Softmax(out)
        return output